<html>

<head>
<style>
.t_w{
	color:white;
	text-decoration:none;
}
.t_hover{
	color:white;
}
.t_hover:hover{
	color:#ff7a7f;
}
</style>
</head>

<body bgcolor="#000;">
<center class="t_w">
	<a href="/" class="t_w t_hover" style="color:#ff7a7f;">&Hfr;&ofr;&mfr;&efr;<a/> &ensp;|&ensp;
	<a href="/stock_scrapper/" class="t_w t_hover">Scrapping</a> &ensp;|&ensp;
	<a href="/bill/" class="t_w t_hover">Billing</a> &ensp;|&ensp;
	<a href="/prev_bill/" class="t_w t_hover">Prev Bills</a> &ensp;|&ensp;
	<a href="/settings/" class="t_w t_hover">Settings</a>
</center>
<hr/>
</body>
</html>