{% load static %}
<html>
<head>
	<script src="{% static 'my_js/jquery.js' %}"></script>  
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding:4px;
}
.t_w{
	color:white;
	text-decoration:none;
}
.t_backgr{
	background-color: rgb(80, 20, 20);
}
.t_hover{
	color:white;
}
.t_hover:hover{
	color:#ff7a7f;
}
</style>
</head>

<body bgcolor="#000;">
<center class="t_w">
	<a href="/" class="t_w t_hover">Go to &Hfr;&ofr;&mfr;&efr;<a/> &ensp;|&ensp; 
	<a href="/face_detector/" class="t_w t_hover" style="color:#ff7a7f;">Detect Faces<a/> 
	
</center>
<hr/>
</br>
<center>
<div>
	<div>
		<form method="POST" action="/face_detector/detect_face/" id="save_image_form" enctype="multipart/form-data">
			{% csrf_token %}
			<span class="t_w">Upload image to detect faces:&emsp;  </span>
			<input type="text" value="save_face" name="what" hidden>
			<input required onchange="$('#save_image').click();" type="file" id="face_img" name="face_img" class="t_backgr" style="color:rgb(255, 162, 162); border:1px solid rgb(255, 219, 173);">
				</br>
			<button class="t_w t_backgr" id="save_image" hidden>&emsp;Save Image&emsp;</button> &emsp;&emsp;
		</form>
	</div>
	<div class="t_w">
		<img src="" id="photo" style="height:350px;width:auto;border:1px solid white;"></br></br>
		<span id="ajax_msg" style="font-size:25px;" hidden>Sample Message</span></br>
		<span id="ajax_msg2" style="font-size:15px;" hidden></span>
	</div><br/>
	<form method="POST" action="" id="detect_face_form" hidden>
		{% csrf_token %}
		<input type="text" value="detect_face" name="what" hidden>
		<button class="t_w t_backgr" id="detect_face_btn">&emsp;Detect Now&emsp;</button>
	</form>
</div>

</center>
</br>

<script>

$(document).ready(function() {
$('#photo').hide();
$('#detect_face_form').hide();
// Ajax for saving Image:
$('#save_image_form').submit(function(e) {
    e.preventDefault();
    var data = new FormData($('#save_image_form').get(0));
    //console.log(data);
	$.ajax({
        url: '/face_detector/detect_face/', 
        type: 'POST',
        data: data,
        contentType: 'multipart/form-data',
        processData: false,
        contentType: false,
        success: function(data) {
			$('#photo').show();
			$('#detect_face_form').show();
			$('#photo').attr("src","../"+data.img+"?"+new Date().getTime());
			$("#save_image_form")[0].reset();
			$('#ajax_msg').hide();
			$('#ajax_msg2').hide();
        }
    });
    return false;
});
// Ajax to detect face in image:
$('#detect_face_form').submit(function(e) {
    e.preventDefault();
    var data = new FormData($('#detect_face_form').get(0));
    //console.log(data);
	$('#detect_face_form').hide();
	$('#ajax_msg').html("Wait!! Detecting faces...");
	$('#ajax_msg').show();
	$.ajax({
        url: '/face_detector/detect_face/', 
        type: 'POST',
        data: data,
        processData: false,
        contentType: false,
        success: function(data) {
			if(data.status){
				$('#ajax_msg').html(data.face_count+" faces found!!");
				$('#ajax_msg2').show();
				$('#ajax_msg2').html("Time Taken: "+data.time_taken);
				$('#photo').attr("src","../static/temp/img_01_detected.jpg?"+new Date().getTime());
			}
			console.log(data);
			console.log(data.status);
        }
    });
    return false;
});
});

</script>
</body>
</html>